Copiez/collez le lien suivant dans la barre d'adresse du navigateur pour confirmer votre adresse courriel:
&nbsp;
= fr_verification_url(@user.token)
&nbsp;
(Ceci doit être fait manuellement simplement car ce courriel est affiché en texte brut plutôt qu'en HTML)
