%h4= t('.title')

= render 'form' do |f|
  .form-row.justify-content-center
    .col-auto
      = f.submit t('send'), class: "btn btn-primary"
    .col-auto
      = link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
