- if @about.blank?
  %h5.text-center= t('.empty')
- else
  %h4.text-center.mt-n3.mb-4= t('.title')
  .row
    - if @about.image.attached?
      .col-auto
        = image_tag @about.image, width: 300
    .col
      = @about.send I18n.locale