main {
  min-height: calc(100vh - 145px - 35px);
  
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

