main {
  min-height: calc(100vh - 145px - 35px);
  
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main h1, main h2, main h3,
main h4, main h5, main h6 {
  color: #020202;
  font-family: "Poppins", sans-serif;
}

div.trix-content {
  font-size: 1.1em;
  line-height: 1.8;
}
div.trix-content div {
  margin-top:    1.5em;
  margin-bottom: 1.5em;
}
div.trix-content div:first-child {
  margin-top: 0;
}
div.trix-content div:last-child {
  margin-bottom: 0;
}