.container.text-center.py-1
  %p.small.my-1
    ©2020
    %a.text-partial-reset{href: "https://www.linkedin.com/in/jtduchesne/", target: "_blank"}<
      jtduchesne
    %span.mx-1 &middot;
    = t('.copyright')
  .hidden
    %p.smaller.mt-n1
      = t('.made_with')
      \:&nbsp;
      %a.text-reset{target: "_blank", title: t('.licenses.MIT'),
                    href: "https://rubyonrails.org"}> Ruby on Rails
      ,&nbsp;
      %a.text-reset{target: "_blank", title: t('.licenses.MIT'),
                    href: "https://jquery.com"}> JQuery
      ,&nbsp;
      %a.text-reset{target: "_blank", title: t('.licenses.MIT'),
                    href: "https://getbootstrap.com"}> Bootstrap
