#site-branding.text-center.mx-4.py-3
  #site-title.text-uppercase
    jtduchesne.com
  #site-description.text-uppercase
    Real-life coding examples and tutorials

%nav.nav.justify-content-center
  %a.text-secondary.nav-link{href: "#", class: "active"} Blog
  %a.text-secondary.nav-link{href: "#"} Projects
  %a.text-secondary.nav-link{href: "#"} Contact
  %a.text-secondary.nav-link{href: "#"} About
